[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
alembic = "*"
sqlalchemy = "*"
ipython = "*"
psycopg2-binary = "*"
ipdb = "*"
faker = "*"
tabulate = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
